@use "typography";

$serif-font: "keroine";
$sans-font: "alteHaas";
$text-color: white;
$phone-width: 800px;

@mixin border($color){
	border-radius: 5px;
	border: 1px solid $color;
}
@mixin softborder{
  border-radius: 10px;
}
@mixin mq($width){
	@media(max-width: $width){
		@content;
	}
}

.modal{
	width: 100vw;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: auto;
	z-index: 3;
	background-color: black;
  visibility: hidden;
	opacity: 0;
  transition: opacity 0.5s;
 
  a{
    text-decoration: underline;
    color: white;
  }
}
.seen{
	visibility: visible;
  opacity: 1;

}
#venice,
#ftr,
#telepresence,
#spawn{
		cursor: url(./assets/more.png),auto !important;
}

@mixin flexcolumn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.m-container{
  line-height: 1.5;
  @include flexcolumn;
  margin: 0.2em 1em;
  overflow-x:hidden;

  .ex{
    position: fixed;
    top: 1em;
    right: 0.3em;
    font-size: 2em;
    color: $text-color;
    mix-blend-mode: difference;
    transition: transform 1s;
    border: 1px solid white;
    border-radius: 100%;
    padding: 0 0.5em;
    text-align: center;
    @include mq($phone-width){
     border: none;
     right: 0.2em;
     font-size: 1em;
    }
    

  }

  .ex:hover{
    // color: black;
    transform: rotate(90deg);

  }




  h1{
    font-size: 4.5em;
    // padding-bottom: 0.5em;
  
    font-family: $serif-font;

    align-self:center;

    text-transform: uppercase;
    position: absolute;
    font-weight: normal;
    mix-blend-mode: difference;
    top: 0.2em;
    left: 0.5em;
    
    color: $text-color;
    @include mq($phone-width){
      font-size: 2em;
      left: 0.85em;

    }
  
  }
  h2{
    color: $text-color;
    font-family: $serif-font;
    font-size: 1.5em;
    text-transform: uppercase;
  }
	h3{
		// padding-top: 1.5em;
		// font-size: 3rem;
    color:yellowgreen;
	}
  em{
    margin: 1em;
    color: grey;
    font-style: italic;
    @include mq($phone-width){
      font-size: 0.5rem;
    
    }
  }
  p{
      color: $text-color;
      // font-size: 1em;

  }

  .description{
    

    p{
      font-size: 1.25rem;
    }

    @include mq($phone-width){

          font-size: 0.75rem;

        }
  }

.intro{
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 100vw;
    height: 100vh;
    margin: 0 4em;

    @include mq($phone-width){
      height: auto;

    }

    .main-text{
      // @include border(white);


        @include mq($phone-width){
          margin: 0.5em;
  

      
    }
    

    }

    @include mq($phone-width){
      flex-direction: column;
      justify-content: space-around;

    }

    div{
      margin: 2em;
    }

    .text{
      color: $text-color;
      width: 50vw;
      margin: 0.5em;
      // display: flex;

      h3{
        margin-top:1em;
      }

      @include flexcolumn;
      overflow-y: scroll;

      // @include border(white);

      @include mq($phone-width){
        width:80vw;
        margin: 0;
      }

      .overview{
        text-align: left;
        // margin-left: 1em;
        font-family:$serif-font;

      }

      .scope{
        display: flex;
        flex-direction:row;
        // align-items:center;
        align-content: space-between;
        justify-content: space-around;
        margin: 0;
  
        // @include border(white);

        p{
          font-size: 0.75em;
          text-align: left;
  
        }
        .role{
          margin: 1em;
          
        }

        .collaborators{
          margin: 1em;

          // align-self: flex-end;
        }
      }

    
      p{
        padding: 0.5em;
        text-align: justify;
        text-justify: inter-word;
      }
    }

    .img{
      width:60vw;
      flex-grow: 1;
  flex-basis: calc(50% - 20px);
     
      // margin-top: 0.5em;

      @include softborder;
      @include mq($phone-width){
        width:80vw;
        margin-bottom: 0;
  
      }


      #contain{
        transform: scale(0.75);
      }
    }



  }

  .sidebythree{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    img{
      width: 30vw;
    }
  }

  .sideby{
    display: flex;
    align-items: center;
    justify-content: space-around;
     @include mq($phone-width){
      flex-direction: column;


    }
    img{
      width: 50vw;
      padding: 2em;
     flex-basis:50%;
     flex-grow: 0;
       @include mq($phone-width){
       width: 70vw;
      padding: 0.5em;


    }
    }
    p{
      width: 50vw;
      font-size: 1rem;
      flex-grow: 0;
      text-align: justify;
      flex-basis: 0.5;
      padding: 5em;
      @include mq($phone-width){
        object-fit: scale-down;
        padding: 0 0.5em;
        // font-size: 0.75rem;
        width: 80vw;

      }
    }
    .room{
      margin: 0 4em;
    }
  }


  .img-cont{
      @include flexcolumn;

    .image-full{
      width: 100vw;
      // height: 50vh;
      background-color: white;
      border-radius: 20px;

      img{
        width: 100%;

      }
      
      p{
        padding: 2em;
        font-size: 2em;
        width: 100%;
        font-family: $serif-font;
        text-align: center;
        color: black;
        background-color: white;
    

        @include mq($phone-width){

          font-size: 1rem;


        }
      }
    }

  }

  

  }


