@use "typography";

$serif-font: "keroine";
$sans-font: "alteHaas";
$text-color: white;
$phone-width: 500px;

@mixin border($color){
	border-radius: 5px;
	border: 1px solid $color;
}
@mixin softborder{
  border-radius: 10px;
}
@mixin mq($width){
	@media(max-width: $width){
		@content;
	}
}

.modal{
	width: 100vw;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: auto;
	z-index: 3;
	background-color: black;
  visibility: hidden;
	opacity: 0;
  transition: opacity 0.5s;
 
  a{
    text-decoration: underline;
    color: white;
  }
}
.seen{
	visibility: visible;
  opacity: 1;

}
#venice,
#ftr,
#telepresence,
#spawn{
		cursor: url(./assets/more.png),auto !important;
}

@mixin flexcolumn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.m-container{
  line-height: 1.5;
  @include flexcolumn;
  margin: 0.2em 2em;
  overflow-x:hidden;

  .ex{
    position: fixed;
    top: 1em;
    right: 0.3em;
    font-size: 2em;
    color: $text-color;
    mix-blend-mode: difference;
    transition: transform 1s;
    border: 1px solid white;
    border-radius: 100%;
    padding: 0 0.5em;
    text-align: center;

  }

  .ex:hover{
    // color: black;
    transform: rotate(90deg);

  }


  h1{
    font-size: 5vw;
    // height: 20vh;
    font-family: $serif-font;
		// font-variant-ligatures: discretionary-ligatures;
    margin-bottom: 1em;
    align-self:center;
    // padding: 0.25em;
    text-transform: uppercase;
    position: absolute;
    font-weight: normal;
    mix-blend-mode: difference;
    top: 0.25em;
    left: 0.5em;
    
    color: $text-color;
  
  }
  h2{
    color: $text-color;
    font-family: $serif-font;
    font-size: 1.5em;
    text-transform: uppercase;
  }
	h3{
		padding-top: 1.5em;
		font-size: 2vw;
    color:yellowgreen;
	}
  em{
    margin: 1em;
    color: grey;
    font-style: italic;
  }
  p{
      color: $text-color;
      font-size: 1vw;

  }

  .description{
    font-size: 1.25vw;
  }

.intro{
    display: flex;

    justify-content: center;
    align-items: center;
  
    width: 100vw;
    height: 100vh;
    margin: 0 4em;

    .main-text{
      // @include border(white);
      // margin-top: 2em;
    
    
      

    }

    @include mq($phone-width){
      flex-direction: column;


    }

    div{
      margin: 2em;
    }

    .text{
      color: $text-color;
      width: 40vw;
      // display: flex;

      @include flexcolumn;
      overflow-y: scroll;

      // @include border(white);
      @include mq($phone-width){
        width:80vw;
      }

      .overview{
        font-size: 1em;
        text-align: left;
        margin-left: 1em;
        font-family:$serif-font;

      }

      .scope{
        display: flex;
        flex-direction:row;
        // align-items:center;
        align-content: space-between;
        justify-content: space-around;
  
        // @include border(white);

        p{
          text-align: left;
  
        }
        .role{
          margin: 1em;
        }

        .collaborators{
          margin: 1em;

          // align-self: flex-end;
        }
      }

    
      p{
        padding: 1em;
        text-align: justify;
        text-justify: inter-word;
      }
    }

    .img{
      width:60vw;
      
      // height: 50vh;
      // align-self: center;
      overflow: hidden;


      @include softborder;

      img{
        width:80vw;
        height: auto;
        display: inline-block;

        // height: 100%;
        // object-fit:cover;
      }

      #contain{
        transform: scale(0.75);
      }
    }



  }

  .sidebythree{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    img{
      width: 30vw;
    }
  }

  .sideby{
    display: flex;
    align-items: center;
    justify-content: space-around;
    img{
      width: 50vw;
      padding: 2em;
     flex-basis:50%;
     flex-grow: 0;
    }
    p{
      width: 50vw;
      flex-grow: 0;
      text-align: justify;
      padding: 5em;
      @include mq($phone-width){
        object-fit: scale-down;
        padding: 0 2em;
        font-size: 0.75rem;

      }
    }
    .room{
      margin: 0 4em;
    }
  }


  .img-cont{
      @include flexcolumn;

    .image-full{
      width: 100vw;
      height: auto;

      img{
        width: 100%;

      }
      h2{
        color: black;
        background-color: white;
        text-transform: uppercase;
      }
      p{
        padding: 2em;
        font-size: 2em;
        font-family: $serif-font;
        text-align: center;
        color: black;
        background-color: white;
        @include mq($phone-width){

          font-size: 1rem;

        }
      }
    }

  }

  }


