@use "reset";
@use "typography";
@use "modal";

$bg-color: black;
$body-font: 'aveX', sans-serif;
$serif-font: 'cantique';
$font-color: black;
$alt-color: white;
$green: #9CBB3E;
$phone-width: 500px;

@mixin shadow($color){
	filter: drop-shadow(0 0 3px $color);
}

@mixin border($color){
	border-radius: 50px;
	border: 1px solid $color;
}

@mixin softborder($color){
	border-radius: 10px;
	border: 2px solid $color;
}

@mixin flexalign{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

@mixin insetshadow{
	box-shadow: inset 0.1em 0.1em 1em black;
}

@mixin mq($width){
	@media(max-width: $width){
		@content;
	}
}

body{
	background-color: $bg-color;
	margin: 0;
	font-family: $body-font;
	overflow-y: hidden;
	}




// .buttons{
// 	display: flex;
// 	flex-direction: column;
// 	align-self: center;
// 	text-align: center;
// 	z-index: 2;
// 	margin-left: 5em;
//
// 	// position: fixed;
//
//
// 	.up,
// 	.down{
// 		z-index: 2;
// 		padding: 1em;
// 		filter: drop-shadow(0 0 0.25em white);
// 	}
//
// }
.infoButton{
	position: absolute;
	top: 0;
	left: 0;
	padding: 1em;


	img{
		width: 4em;
	}


}

main{
	width: 100vw;
	height: 100vh;
	// align-self: center;
	text-align: center;
	// background-color: green;


}



.side-bar{
	// width: 25vw;
	width: 0;
	overflow-y: hidden;
	height: 100vh;
	display: flex;
	background-color:$green;
	color: $font-color;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;

	justify-content: space-between;
	z-index: 1;
	@include softborder(black);
	@include insetshadow;


	a{
		padding: 0.5em;
		color: white;
		text-decoration: none;
		background-color: black;
		@include border(black);
		@include shadow(white);

	}

	.links{
		margin-top: 1em;
		display: flex;
		justify-content: space-between;
		margin: 3em 2em;
	}



	.bio{
		align-self: flex-start;
		font-family: $body-font;
		font-size: 1em;
		line-height: 1.25;
		margin: 3em 2em;
	}

	.close{
		padding: 1em;
		position: absolute;
		top: 0;
		right: 0;
		font-size: 1.5em;
	}

	.close:hover{
		color: $alt-color;
	}

	.thisSite{
	margin: 2em;
	line-height: 1.5;
	font-size: 0.85rem;
	color: white;
	background-color: black;
	@include softborder(transparent);
	@include shadow(white);
	padding: 1em;

	}

}


.footer{
	position: absolute;
	width: 100vw;
	bottom: 1em;

	@include mq($phone-width){
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

	}


	.moreInfo{
		color: $alt-color;
		position: absolute;
		bottom: 1em;
		right: 2em;

		padding: 1em;
		@include border(white);
		@include mq($phone-width){
		position: relative;
		right: 0;
		margin-top: 2em;


		}
	}

	.siteName{
	width:20vw;
	padding: 1em;
	text-align: center;
	position: absolute;
	bottom: 1em;
	left: 40%;

	.siteName:hover{

	}

	@include mq($phone-width){
		// left: 30%;
		position: relative;
		margin-top: 1em;
		width: 40vw;
		left: 0;

	}


	a{
		text-decoration: none;
		color: $font-color;
	}

	}


}



.titles{
	border: 1px solid black;
	border-radius: 60px;
	@include insetshadow;
	cursor: url(./assets/link.png),auto !important;

}




.bigBox,
.carousel{
		z-index: 1;
		align-self: center;
		@include flexalign;
}


.bigBox{
	// background-color: red;

	height:100vh;
	display: grid;
}

.arrow-keys{
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	grid-area: 1 / 1 / 2 / 2;
	justify-self: center;

	.bottom{
		// background-color: blue;
		height: 50vh;
		width: 90vw;

			cursor: url(./assets/cursordown.png),auto !important;
	}

	.top{
		// background-color: green;
		width: 90vw;
		height: 50vh;
		cursor: url(./assets/cursorup.png),auto !important;
	}

}



.container{
	position: relative;
	align-self: center;
	perspective: 1000px;
	width: 50vw;
	height: 50vh;
	grid-area: 1 / 1 / 2 / 2;
	justify-self: center;
	// align-self: stretch;
	// background-color: purple;
	margin-bottom: 6em;
	@include mq($phone-width){
		margin-bottom: 15em;
	}

}

.carousel{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transform-style: preserve-3d;
	transition: transform 1s;
	transform: translateZ(-488px);

}

.cell{
	position: absolute;
	margin: 1em auto;
	width: 40vw;
	height: 40vh;

	background-color: rgba(0, 0, 0, 0.65);

	text-align: center;
	overflow: hidden;

	@include softborder($green);
	@include flexalign;

	a {
		object-fit: cover;
	}
		img{
		filter: opacity(80%);
		object-fit: cover;
		width: 100%;
		height: 100%;
}

@include mq($phone-width){
	width:70vw;
	height: 20vh;
}

}
$distZ: 55vh;
$distZphone: 27vh;
// $rotateX: 360 /numberOfCells

.cell:nth-child(1){
	transform: rotateX(0deg)translateZ($distZ);

	@include mq($phone-width){
		transform: rotateX(0)translateZ($distZphone);
	}


}

.cell:nth-child(2){
	transform: rotateX(40deg)translateZ($distZ);
	@include mq($phone-width){
		transform: rotateX(40deg)translateZ($distZphone);
	}

}

.cell:nth-child(3){
	transform: rotateX(80deg)translateZ($distZ);
	@include mq($phone-width){
		transform: rotateX(80deg)translateZ($distZphone);
	}
}

.cell:nth-child(4){
	transform: rotateX(120deg)translateZ($distZ);
	@include mq($phone-width){
		transform: rotateX(120deg)translateZ($distZphone);
	}

}

.cell:nth-child(5){
	transform: rotateX(160deg)translateZ($distZ);
	@include mq($phone-width){
		transform: rotateX(160deg)translateZ($distZphone);
	}
}

.cell:nth-child(6){
	transform: rotateX(200deg)translateZ($distZ);
	@include mq($phone-width){
		transform: rotateX(200deg)translateZ($distZphone);
	}
}

.cell:nth-child(7){
	transform: rotateX(240deg)translateZ($distZ);
	@include mq($phone-width){
		transform: rotateX(240deg)translateZ($distZphone);
	}
}

.cell:nth-child(8){
	transform: rotateX(280deg)translateZ($distZ);
	@include mq($phone-width){
		transform: rotateX(280deg)translateZ($distZphone);
	}
}
.cell:nth-child(9){
	transform: rotateX(320deg)translateZ($distZ);
	@include mq($phone-width){
		transform: rotateX(320deg)translateZ($distZphone);
	}
}
