
@font-face {
	font-family: "gerstner";
	src: url(./assets/Gerstner_Regular.otf);
}
@font-face {
	font-family: "tartuffo";
	src: url(./assets/Tartuffo-Regular.ttf);
}

@font-face {
	font-family: "keroine";
	src: url(./assets/KeroineTRIAL-DouxExtreme.otf);
}
