html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input, textarea, select {
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "gerstner";
  src: url(./assets/typefaces/Gerstner_Regular.otf);
}
@font-face {
  font-family: "alteHaasBold";
  src: url(./assets/typefaces/AlteHaasGroteskBold.ttf);
}
@font-face {
  font-family: "alteHaas";
  src: url(./assets/typefaces/AlteHaasGroteskRegular.ttf);
}
@font-face {
  font-family: "tartuffo";
  src: url(./assets/typefaces/Tartuffo-Regular.ttf);
}
@font-face {
  font-family: "arachne";
  src: url(./assets/typefaces/Arachne.ttf);
}
@font-face {
  font-family: "keroine";
  src: url(./assets/typefaces/KeroineTRIAL-DouxExtreme.otf);
}
.modal {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  z-index: 3;
  background-color: black;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s;
}
.modal a {
  text-decoration: underline;
  color: white;
}

.seen {
  visibility: visible;
  opacity: 1;
}

#venice,
#ftr,
#telepresence,
#spawn {
  cursor: url(./assets/more.png), auto !important;
}

.m-container {
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0.2em 1em;
  overflow-x: hidden;
}
.m-container .ex {
  position: fixed;
  top: 1em;
  right: 0.3em;
  font-size: 2em;
  color: white;
  mix-blend-mode: difference;
  transition: transform 1s;
  border: 1px solid white;
  border-radius: 100%;
  padding: 0 0.5em;
  text-align: center;
}
@media (max-width: 800px) {
  .m-container .ex {
    border: none;
  }
}
.m-container .ex:hover {
  transform: rotate(90deg);
}
.m-container h1 {
  font-size: 4.5em;
  font-family: "keroine";
  align-self: center;
  text-transform: uppercase;
  position: absolute;
  font-weight: normal;
  mix-blend-mode: difference;
  top: 0.2em;
  left: 0.5em;
  color: white;
}
@media (max-width: 800px) {
  .m-container h1 {
    font-size: 2em;
    left: 0.85em;
  }
}
.m-container h2 {
  color: white;
  font-family: "keroine";
  font-size: 1.5em;
  text-transform: uppercase;
}
.m-container h3 {
  color: yellowgreen;
}
.m-container em {
  margin: 1em;
  color: grey;
  font-style: italic;
}
@media (max-width: 800px) {
  .m-container em {
    font-size: 0.5rem;
  }
}
.m-container p {
  color: white;
}
.m-container .description p {
  font-size: 1.25rem;
}
@media (max-width: 800px) {
  .m-container .description {
    font-size: 0.75rem;
  }
}
.m-container .intro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 0 4em;
}
@media (max-width: 800px) {
  .m-container .intro .main-text {
    margin: 0.5em;
  }
}
@media (max-width: 800px) {
  .m-container .intro {
    flex-direction: column;
    justify-content: space-around;
  }
}
.m-container .intro div {
  margin: 2em;
}
.m-container .intro .text {
  color: white;
  width: 50vw;
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow-y: scroll;
}
.m-container .intro .text h3 {
  margin-top: 1em;
}
@media (max-width: 800px) {
  .m-container .intro .text {
    width: 80vw;
    margin: 0;
  }
}
.m-container .intro .text .overview {
  text-align: left;
  font-family: "keroine";
}
.m-container .intro .text .scope {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-around;
  margin: 0;
}
.m-container .intro .text .scope p {
  font-size: 0.75em;
  text-align: left;
}
.m-container .intro .text .scope .role {
  margin: 1em;
}
.m-container .intro .text .scope .collaborators {
  margin: 1em;
}
.m-container .intro .text p {
  padding: 0.5em;
  text-align: justify;
  text-justify: inter-word;
}
.m-container .intro .img {
  width: 60vw;
  flex-grow: 1;
  flex-basis: calc(50% - 20px);
  border-radius: 10px;
}
@media (max-width: 800px) {
  .m-container .intro .img {
    width: 80vw;
    margin-bottom: 0;
  }
}
.m-container .intro .img #contain {
  transform: scale(0.75);
}
.m-container .sidebythree {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.m-container .sidebythree img {
  width: 30vw;
}
.m-container .sideby {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 800px) {
  .m-container .sideby {
    flex-direction: column;
  }
}
.m-container .sideby img {
  width: 50vw;
  padding: 2em;
  flex-basis: 50%;
  flex-grow: 0;
}
@media (max-width: 800px) {
  .m-container .sideby img {
    width: 70vw;
    padding: 0.5em;
  }
}
.m-container .sideby p {
  width: 50vw;
  font-size: 1rem;
  flex-grow: 0;
  text-align: justify;
  flex-basis: 0.5;
  padding: 5em;
}
@media (max-width: 800px) {
  .m-container .sideby p {
    object-fit: scale-down;
    padding: 0 0.5em;
    width: 80vw;
  }
}
.m-container .sideby .room {
  margin: 0 4em;
}
.m-container .img-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.m-container .img-cont .image-full {
  width: 100vw;
  background-color: white;
  border-radius: 20px;
}
.m-container .img-cont .image-full img {
  width: 100%;
}
.m-container .img-cont .image-full p {
  padding: 2em;
  font-size: 2em;
  width: 100%;
  font-family: "keroine";
  text-align: center;
  color: black;
  background-color: white;
}
@media (max-width: 800px) {
  .m-container .img-cont .image-full p {
    font-size: 1rem;
  }
}

body {
  background-color: black;
  margin: 0;
  font-family: "alteHaas", sans-serif;
  overflow-y: hidden;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: white;
  padding: 1em;
  top: 0;
  right: 0;
}
header p {
  padding: 0.5em;
}

.infoButton {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
}
.infoButton img {
  width: 4em;
}

main {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.side-bar {
  width: 0;
  overflow-y: hidden;
  height: 100vh;
  display: flex;
  background-color: #9CBB3E;
  color: black;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: space-between;
  z-index: 1;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: inset 0.1em 0.1em 1em black;
}
.side-bar a {
  padding: 0.5em;
  color: white;
  text-decoration: none;
  background-color: black;
  border-radius: 50px;
  border: 1px solid black;
  filter: drop-shadow(0 0 3px white);
}
.side-bar .links {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  margin: 3em 2em;
}
.side-bar .bio {
  align-self: flex-start;
  font-family: "alteHaas", sans-serif;
  font-size: 1.25em;
  line-height: 1.25;
  margin: 3em 2em;
}
.side-bar .close {
  padding: 1em;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5em;
}
.side-bar .close:hover {
  color: white;
}
.side-bar .thisSite {
  margin: 2em;
  line-height: 1.5;
  font-size: 0.85rem;
  color: white;
  background-color: black;
  border-radius: 10px;
  border: 2px solid transparent;
  filter: drop-shadow(0 0 3px white);
  padding: 1em;
}

.footer {
  position: absolute;
  width: 100vw;
  bottom: 1em;
}
@media (max-width: 500px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
.footer .moreInfo {
  color: white;
  position: absolute;
  bottom: 1em;
  right: 2em;
  padding: 1em;
  border-radius: 50px;
  border: 1px solid white;
}
@media (max-width: 500px) {
  .footer .moreInfo {
    position: relative;
    right: 0;
    margin-top: 2em;
  }
}
.footer .siteName {
  width: 20vw;
  padding: 1em;
  text-align: center;
  position: absolute;
  bottom: 1em;
  left: 40%;
}
@media (max-width: 500px) {
  .footer .siteName {
    position: relative;
    margin-top: 1em;
    width: 40vw;
    left: 0;
  }
}
.footer .siteName a {
  text-decoration: none;
  color: black;
}

.titles {
  border: 1px solid black;
  border-radius: 60px;
  box-shadow: inset 0.1em 0.1em 1em black;
  cursor: url(./assets/link.png), auto !important;
}

.bigBox,
.carousel {
  z-index: 1;
  align-self: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.bigBox {
  height: 100vh;
  display: grid;
}

.arrow-keys {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: 1/1/2/2;
  justify-self: center;
}
.arrow-keys .bottom {
  height: 50vh;
  width: 90vw;
  cursor: url(./assets/cursordown.png), auto !important;
}
.arrow-keys .top {
  width: 90vw;
  height: 50vh;
  cursor: url(./assets/cursorup.png), auto !important;
}

.container {
  position: relative;
  align-self: center;
  perspective: 1000px;
  width: 50vw;
  height: 50vh;
  grid-area: 1/1/2/2;
  justify-self: center;
  margin-bottom: 6em;
}
@media (max-width: 500px) {
  .container {
    margin-bottom: 15em;
  }
}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transition: transform 1s;
  transform: translateZ(-488px);
}

.cell {
  position: absolute;
  margin: 1em auto;
  width: 40vw;
  height: 40vh;
  background-color: rgba(0, 0, 0, 0.65);
  text-align: center;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid #9CBB3E;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.cell a {
  object-fit: cover;
}
.cell img {
  filter: opacity(80%);
  object-fit: cover;
  width: 100%;
  height: 100%;
}
@media (max-width: 500px) {
  .cell {
    width: 70vw;
    height: 20vh;
  }
}

.cell:nth-child(1) {
  transform: rotateX(0deg) translateZ(55vh);
}
@media (max-width: 500px) {
  .cell:nth-child(1) {
    transform: rotateX(0) translateZ(27vh);
  }
}

.cell:nth-child(2) {
  transform: rotateX(40deg) translateZ(55vh);
}
@media (max-width: 500px) {
  .cell:nth-child(2) {
    transform: rotateX(40deg) translateZ(27vh);
  }
}

.cell:nth-child(3) {
  transform: rotateX(80deg) translateZ(55vh);
}
@media (max-width: 500px) {
  .cell:nth-child(3) {
    transform: rotateX(80deg) translateZ(27vh);
  }
}

.cell:nth-child(4) {
  transform: rotateX(120deg) translateZ(55vh);
}
@media (max-width: 500px) {
  .cell:nth-child(4) {
    transform: rotateX(120deg) translateZ(27vh);
  }
}

.cell:nth-child(5) {
  transform: rotateX(160deg) translateZ(55vh);
}
@media (max-width: 500px) {
  .cell:nth-child(5) {
    transform: rotateX(160deg) translateZ(27vh);
  }
}

.cell:nth-child(6) {
  transform: rotateX(200deg) translateZ(55vh);
}
@media (max-width: 500px) {
  .cell:nth-child(6) {
    transform: rotateX(200deg) translateZ(27vh);
  }
}

.cell:nth-child(7) {
  transform: rotateX(240deg) translateZ(55vh);
}
@media (max-width: 500px) {
  .cell:nth-child(7) {
    transform: rotateX(240deg) translateZ(27vh);
  }
}

.cell:nth-child(8) {
  transform: rotateX(280deg) translateZ(55vh);
}
@media (max-width: 500px) {
  .cell:nth-child(8) {
    transform: rotateX(280deg) translateZ(27vh);
  }
}

.cell:nth-child(9) {
  transform: rotateX(320deg) translateZ(55vh);
}
@media (max-width: 500px) {
  .cell:nth-child(9) {
    transform: rotateX(320deg) translateZ(27vh);
  }
}

/*# sourceMappingURL=style.css.map */
